.header{
	position: relative;
    &__img{
		width: 100%;
		height: 70%;
		object-fit: contain;
	}
	&__text-box{
		position: absolute;
		height: 100%;
		left: 0;
		right: 0;
		background-image:
		linear-gradient( 105deg,
		rgba($color-primary-light, .8) 0%,
		rgba($color-primary-middle, .8)50%),
		url('../img/233.png');
		background-blend-mode: initial;
		background-size: contain;
		z-index: 5000;
		background-position: top;

		@include respond(phone){
			background-size: cover;
		}
	}
	&__logo--box{
		width: 100%;
		height: 8rem;
		position: absolute;
		top: 0 ;
		right: 0;
		z-index: 10000;
	}
	&__icon{
		&--logo{
			position: absolute;
			left: -4rem;
			top: 1.66rem;
			z-index: 10000;
			text-align: center;
			height: 100%;
			width: 9%;
			font-size: 2rem;
			display: inline-block;
			background-image: linear-gradient(to right, #30f8f8, #15f0f0);
			-webkit-background-clip: text;
			background-clip: text;
			color:transparent;

			@include respond(tab-land){
				left: -2rem;
			}
			@include respond(tab-port){
				left: 0;
			}
			@include respond(phone){
				top: 1rem;
				left: 2rem;
			}
		}
	}
}
