.wave-container{
  margin-top: -1rem;
  position: relative;
  z-index: 5000;
  text-align: center;
  overflow: hidden;
  .svg{
        display: block;
        @include respond(phone){
          margin-top: 1rem;       
         }
    }
}